<div class="noi-dung">
  <!-- tiêu đề -->
  <h2 class="title" *ngIf="tourData?.title && tourData?.date">
    {{ tourData.title }} - {{ tourData.date }}
  </h2>

  <!--Bên trái  -->
  <div class="domestic-tour-list">
    <!-- - ảnh tour -->
    <div class="container-img">
      <img
        src="https://www.vietnamtravelgroup.com.vn/datafiles/32985/upload/images/2017_03_20_23739_1489984971__large%281%29.jpg"
        alt=""
      /><img
        src="https://ik.imagekit.io/tvlk/blog/2022/06/du-lich-cung-dien-hoang-gia-thai-lan-1-1024x683.jpg?tr=dpr-2,w-675"
        alt=""
      /><img
        src="https://a.cdn-hotels.com/gdcs/production186/d1237/ef2785c3-419a-4026-9612-9299eb72aae7.jpg"
        alt=""
      />
    </div>

    <!-- tour-liên-quan -->
    <div class="tour">
      <div class="the-tour">
        <i class="fa fa-tags" aria-hidden="true"></i>
      </div>

      <div class="listTour">
        <div class="item" *ngFor="let i of tourList">
          <span>{{ i }}</span>
        </div>
      </div>
    </div>

    <!-- album-lien-quan -->
    <div class="album">
      <div class="header">ALBUM LIÊN QUAN</div>

      <app-slider-album></app-slider-album>
    </div>
  </div>

  <!--Bên phải - Phần news của bạn -->
  <div class="news">
    <div class="ve-chung-toi">
      <div class="heading">
        <img
          src="https://www.vietnamtravelgroup.com.vn/datafiles/web30s/upload/images/1000-1100/30S-03-1047/pattern_sidebar.png"
          alt="pattern"
        />
        <h3>VỀ CHÚNG TÔI</h3>
      </div>
      <p>
        Công Ty Lữ Hành Quốc tế <strong>Vietnam Travel Group</strong> cung cấp
        các sản phẩm du lịch hấp dẫn, an toàn cho Quý khách qua các chương trình
        du lịch trong và ngoài nước
      </p>
    </div>

    <div class="ve-chung-toi">
      <div class="heading">
        <img
          src="https://www.vietnamtravelgroup.com.vn/datafiles/web30s/upload/images/1000-1100/30S-03-1047/pattern_sidebar.png"
          alt="pattern"
        />
        <h3>TIN TỨC MỚI</h3>
      </div>
    </div>

    <div class="news-container">
      <div class="tin-tuc" *ngFor="let n of news">
        <img [src]="n.img" alt="" />
        <div class="news-title">{{ n.title }}</div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
