<div class="container">
  <div class="img">
    <img
      src="https://www.vietnamtravelgroup.com.vn/datafiles/32985/upload/files/banner2.png"
      alt="Liên hệ"
    />
  </div>

  <div class="company-info">
    <h1>CÔNG TY CỔ PHẦN VIETNAM TRAVEL GROUP</h1>
    <h2>TOP 10 CÔNG TY DU LỊCH HÀNG ĐẦU VIỆT NAM</h2>

    <div class="section">
      <h3>THÔNG TIN CƠ BẢN VỀ CÔNG TY</h3>
      <p>
        Tên chính thức: <strong>CÔNG TY CỔ PHẦN VIETNAM TRAVEL GROUP</strong>
      </p>
      <p>
        Tên giao dịch: <strong>VIETNAM TRAVEL GROUP JOINT STOCK COMPANY</strong>
      </p>
      <p>Tên giao dịch viết tắt:<strong>VNT GROUP</strong></p>
      <p>Hình thức sở hữu: Cổ phần; Thành lập: Ngày 02/09/2011</p>
      <p>Giấy phép LHQT số:GP79-747/2015/TCDL-GP LHQT</p>
      <p>
        Số ĐKKD: 0311109560 được cấp bởi Sở Kế hoạch và Đầu tư TP. Hồ Chí Minh
      </p>
      <p>Đăng ký lần đầu ngày 01/09/2011</p>
      <p>Đăng ký thay đổi lần 11 ngày 22/08/2022</p>
    </div>

    <div class="section">
      <h3>TRỤ SỞ CHÍNH</h3>
      <p>
        Địa chỉ: 55 Đỗ Quang Đẩu, Phường Phạm Ngũ Lão, Quận 1, Thành phố Hồ Chí
        Minh, Việt Nam
      </p>
      <p>Hotline: 1900 1234 - Fax: 08 3978 4567</p>
      <p>Email: contact.com</p>
      <p>Website: www.vietnamtravelgroup.com.vn</p>
    </div>

    <div class="section">
      <h3>CHI NHÁNH TẠI PHÚ QUỐC</h3>
      <p>
        Địa chỉ: Lô A3, Hẻm 75 Trần Hưng Đạo, Phường Dương Đông, TP Phú Quốc,
        Kiên Giang
      </p>
      <p>Điện thoại: 0297 654321 / 0988 123456</p>
    </div>

    <div class="section">
      <h3>CHI NHÁNH TẠI BUÔN MA THUỘT</h3>
      <p>Địa chỉ: 123 Phan Chu Trinh, TP. Buôn Ma Thuột, Đắk Lắk</p>
      <p>Điện thoại: 0262 2222333 / 0914 123456</p>
    </div>

    <div class="section">
      <h3>CHI NHÁNH TẠI HUẾ</h3>
      <p>Địa chỉ: 17 Đội Cung, TP Huế, Tỉnh Thừa Thiên Huế</p>
      <p>Điện thoại: 0234 2224555 / 0909 987654</p>
    </div>

    <div class="section">
      <h3>TẦM NHÌN</h3>
      <ul>
        <li>
          Trở thành Thương hiệu du lịch được yêu thích, tin tưởng nhất của người
          Việt Nam
        </li>
        <li>
          Trở thành công ty Du Lịch mạnh hàng đầu Việt Nam, có uy tín và vị thế
          trên bản đồ du lịch trong nước và quốc tế;
        </li>
        <li>
          Xây dựng thành công chuỗi sản phẩm và dịch vụ du lịch đẳng cấp, góp
          phần nâng cao chất lượng cuộc sống của người Việt và nâng tầm vị thế
          của người
        </li>
      </ul>
    </div>

    <div class="section">
      <h3>SỨ MỆNH</h3>
      <ul>
        <li>
          Truyền tải vẻ đẹp của các danh lam thắng cảnh, nét văn hóa độc đáo và
          những thành tựu phát triển mọi mặt của nhân loại tới khách hàng;
        </li>
        <li>
          Kết nối, dẫn dắt đem đến cho du khách trải nghiệm thú vị trong từng
          hành trình đến với những miền đất Việt Nam tươi đẹp và những nền văn
          minh của các quốc gia trên thế giới.
        </li>
        <li>
          Đổi mới sáng tạo và phát triển sản phẩm dịch vụ du lịch có chất lượng
          tốt nhằm đáp ứng nhu cầu đa dạng và phong phú của khách hàng trong
          nước và quốc tế
        </li>
        <li>
          Đảm bảo những giá trị lợi ích của khách hàng cũng như thỏa mãn nhu cầu
          về an toàn trong ngành dịch vụ du lịch khi khách hàng sử dụng sản phẩm
        </li>
      </ul>
    </div>

    <div class="section">
      <h3>CÁC THÀNH TÍCH ĐẠT ĐƯỢC:</h3>
      <h2>Công ty Cổ phần Vietnam Travel Group tự hào:</h2>
      <p>
        Công Ty Lữ Hành Quốc tế Vietnam Travel Group cung cấp các sản phẩm du
        lịch hấp dẫn, an toàn cho Quý khách qua các chương trình du lịch trong
        và ngoài nước như sau:
      </p>
      <div class="ul">
        <ul>
          <li>
            Các chương trình du lịch tham quan, dã ngoại, khám phá: sẽ mang đến
            cho Quý khách những cảm xúc dạt dào của tình bạn, tình yêu quê
            hương, đất nước.
          </li>
          <li>
            Các tour du lịch kết hợp tổ chức hội thảo, sự kiện: được tổ chức
            hoành tráng, ấn tượng đẹp, không khí sôi động … sẽ ghi lại những kỷ
            niệm tốt đẹp trong trái tim và ký ức của mỗi thành viên về những
            ngày tháng tươi đẹp nhất của nơi đây.
          </li>
          <li>
            Các chương trình Du Lịch Teambuilding: với nhiều kịch bản mới lạ
            nhằm khơi dậy năng lực tiềm ẩn của mỗi cá nhân và phát triển tinh
            thần & sức mạnh đồng đội, với nhiều đạo cụ độc đáo, ê – kíp thực
            hiện chuyên nghiệp sẽ mang đến cho Quý khách những giờ phút sảng
            khoái với nhiều thú vị bất ngờ.
          </li>
          <li>
            Chương trình du lịch nước ngoài như: Malaysia, Singapore, Campuchia,
            Hàn Quốc, Trung Quốc, Châu Âu, Canada, Úc…
          </li>
          <li>
            Tư vấn và cung cấp dịch vụ: Cấp mới visa, ra hạn visa, xin giấy phép
            lao động, thẻ tạm trú, thẻ APEC, cung cấp vé máy bay, các loại xe du
            lịch, đặt phòng khách sạn - resort cao cấp.
          </li>
        </ul>
      </div>
      <p>
        Với sự am hiểu về điểm đến và sự tôn vinh cái đẹp trong nền văn hóa Việt
        Nam cũng như của các nước bạn, Vietnam Travel Group luôn cập nhật những
        thay đổi cấp thiết để hòa mình vào sự chuyển mình của ngành du lịch
        trong và ngoài nước. Với tầm nhìn xa; sự tin tưởng mãnh liệt vào sự lãnh
        đạo của Ban Giám Đốc với kinh nghiệm lâu năm trong lãnh vực lữ hành và
        sự trợ giúp và tư vấn của các chuyên viên cùng các chuyên gia trong và
        ngoài nước; và sự tôn trọng đóng góp của mọi thành viên trong công ty,
        Vietnam Travel Group phấn đấu để luôn giữ vị trí là một trong những công
        ty du lịch hàng đầu của Việt Nam và khu vực về qui mô, chất lượng và uy
        tín. <br />
        Với nguồn lực dồi dào, tài chính vững mạnh, kinh nghiệm và uy tín trong
        lĩnh vực dịch vụ du lịch, mối quan hệ bền vững với các đối tác lớn khắp
        nơi trên thế giới, đội ngũ nhân viên năng động và chuyên nghiệp, Vietnam
        Travel Group luôn nỗ lực mang đến cho khách hàng những sản phẩm du lịch
        giá trị nhất cũng như những trải nghiệm đáng nhớ nhất cho mỗi chuyến đi.
      </p>
    </div>

    <div class="section">
      <h3>NHỮNG THÀNH TỰU ĐẠT ĐƯỢC:</h3>
      <div class="tahnh-tuu">
        <img
          src="https://www.vietnamtravelgroup.com.vn/datafiles/32985/upload/files/192ed7ff12cccf9296dd.jpg"
          alt=""
        />
      </div>
    </div>

    <div class="section">
      <h3>CÁC SẢN PHẨM CỦA CÔNG TY</h3>
      <strong>Du lịch chuyên đề</strong>
      <ul>
        <li>Du lịch Lễ Hội.</li>
        <li>Du lịch Hành Hương</li>
        <li>Du lịch kết hợp chăm sóc sức khỏe & làm đẹp.</li>
        <li>Du lịch công vụ & tìm hiểu cơ hội đầu tư.</li>
        <li>Du lịch M.I.C.E và EVENT</li>
        <li>Du lịch ẩm thực & Giao lưu văn hóa.</li>
      </ul>
      <strong>Dịch vụ - giải pháp toàn diện</strong>
      <ul>
        <li>Dịch vụ visa.</li>
        <li>Booking vé máy bay.</li>
        <li>Booking khách sạn</li>
        <li>Dịch vụ xe du lịch.</li>
      </ul>
    </div>

    <span>Đăng ngày: 23/01/2021</span>
  </div>

  <app-footer></app-footer>
</div>
