<div
  class="slider-container"
  *ngIf="imageObject.length > 0"
  [style.width]="sliderWidth"
>
  <div class="main-image-container">
    <div class="arrows">
      <button class="arrow-btn left" (click)="prev()">❮</button>
      <button class="arrow-btn right" (click)="next()">❯</button>
    </div>

    <div class="main-image-wrapper">
      <div
        class="main-image-slider"
        [style.transform]="'translateX(' + -currentIndex * 100 + '%)'"
        (mousedown)="onMouseDown($event)"
        (mousemove)="onMouseMove($event)"
        (mouseup)="onMouseUp()"
        (mouseleave)="onMouseUp()"
        (touchstart)="onTouchStart($event)"
        (touchmove)="onTouchMove($event)"
        (touchend)="onTouchEnd()"
      >
        <div class="main-image" *ngFor="let img of imageObject">
          <img
            [src]="img.anhDaiDien"
            alt="Tour image"
            [style.height.px]="mainImageHeight"
          />
        </div>
      </div>
    </div>
  </div>

  <!-- Container cho thumbnails với thiết kế mới -->
  <div class="thumbs-container-wrapper" *ngIf="showThumbs">
    <!-- Hiển thị tối đa 5 ảnh và không có nút điều hướng -->
    <div
      class="thumbs-container"
      #thumbsContainer
      *ngIf="showThumbs"
      (mousedown)="onThumbsMouseDown($event)"
      (mousemove)="onThumbsMouseMove($event)"
      (mouseup)="onThumbsMouseUp()"
      (mouseleave)="onThumbsMouseUp()"
      (touchstart)="onThumbsTouchStart($event)"
      (touchmove)="onThumbsTouchMove($event)"
      (touchend)="onThumbsTouchEnd()"
    >
      <div class="thumbs">
        <div
          class="thumb"
          *ngFor="let img of imageObject; let i = index"
          (click)="selectImage(i)"
          [class.active]="i === currentIndex"
        >
          <img
            [src]="img.anhDaiDien"
            alt="thumbnail"
            [style.max-height.px]="thumbImageHeight"
          />
        </div>
      </div>
    </div>
  </div>
</div>
