<div class="tour-container">
  <div class="anh-bia">
    <img [src]="coverPhoto" alt="Ảnh bị lỗi " />
  </div>

  <div class="noi-dung">
    <!-- hiển thị và phân trang theo mảng  -->
    <div class="domestic-tour-list">
      <!-- hiển thị  -->
      <div class="tour-par">
        <div class="tour-card" *ngFor="let ar of paginatedArr">
          <div class="tour-image">
            <img [src]="ar.img" alt="{{ ar.title }}" />

            <!-- badge -->
            <div class="discount-badge" *ngIf="ar.original > ar.discount">
              -{{
                ((ar.original - ar.discount) / ar.original) * 100
                  | number : "1.0-0"
              }}%
            </div>
          </div>

          <div class="tour-info">
            <div class="tour-title">
              <span>{{ ar.title }}</span>
            </div>

            <div class="tour-footer">
              <div class="tours date">
                <div class="left">
                  <img src="icon_Tour/clock.png" alt="" /><span>{{
                    ar.date
                  }}</span>
                </div>

                <div class="right-price1">
                  <div class="discount">
                    {{ infoTour.formatVND(ar.discount) }} vnd
                  </div>
                </div>
              </div>

              <div class="tours week">
                <div class="left">
                  <img src="icon_Tour/calendar.png" alt="" /><span>{{
                    ar.week
                  }}</span>
                </div>
                <div class="right-price2">
                  <div class="originalPrice">
                    {{ infoTour.formatVND(ar.original) }} vnd
                  </div>
                </div>
              </div>

              <div class="tours car">
                <div class="left">
                  <img src="icon_Tour/bus.png" alt="" /><span>{{
                    ar.cart
                  }}</span>
                </div>
              </div>

              <div class="tours hotel">
                <div class="left">
                  <img src="icon_Tour/hotel.png" alt="" /><span>{{
                    ar.hotel
                  }}</span>
                </div>
              </div>

              <div class="tours quantity">
                <div class="left">
                  <img src="icon_Tour/chair.png" alt="Ghế tour" />
                  <span>{{ ar.quantity }}</span>
                </div>

                <div class="right">
                  <i class="fa fa-angle-double-right" aria-hidden="true"></i
                  ><button>Xem Thêm</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="phan-trang">
        <ul class="container phan-trang" *ngIf="totalPages > 0">
          <button
            (click)="goToFirstPage()"
            [disabled]="currentPage === 0"
            [ngClass]="{ wring: currentPage === 0 }"
            class="btn left1"
          >
            <i class="bx bxs-chevrons-left"></i>
          </button>
          <button
            (click)="goToPreviousPage()"
            [disabled]="currentPage === 0"
            [ngClass]="{ wring: currentPage === 0 }"
            class="btn left2"
          >
            <i class="bx bxs-chevron-left"></i>
          </button>
          <li class="items" *ngFor="let page of displayedPages">
            <button
              [class.active]="page === currentPage"
              (click)="goToPage(page)"
              class="btn"
            >
              {{ page + 1 }}
            </button>
          </li>
          <button
            (click)="goToNextPage()"
            [disabled]="currentPage === totalPages - 1"
            [ngClass]="{ wring: currentPage === totalPages - 1 }"
            class="btn right1"
          >
            <i class="bx bxs-chevron-right"></i>
          </button>
          <button
            (click)="goToLastPage()"
            [disabled]="currentPage === totalPages - 1"
            [ngClass]="{ wring: currentPage === totalPages - 1 }"
            class="btn right2"
          >
            <i class="bx bxs-chevrons-right"></i>
          </button>
        </ul>
      </div>
    </div>

    <!--  tin tức -->
    <div class="news">
      <div class="title">Tìm Điểm Đến Của Bạn</div>
      <app-search></app-search>

      <div class="news-container">
        <div class="tin-tuc" *ngFor="let n of news">
          <img [src]="n.img" alt="" />
          <div class="news-title">{{ n.title }}</div>
        </div>
      </div>
    </div>
  </div>

  <div class="footer-host">
    <app-footer></app-footer>
  </div>
</div>
