<div class="pages">
  <ul class="container pages" *ngIf="totalPages > 0">
    <button
      (click)="goToFirstPage()"
      [disabled]="currentPage === 0"
      [ngClass]="{ wring: currentPage === 0 }"
      class="btn left1"
    >
      <i class="bx bxs-chevrons-left"></i>
    </button>

    <button
      (click)="goToPreviousPage()"
      [disabled]="currentPage === 0"
      [ngClass]="{ wring: currentPage === 0 }"
      class="btn left2"
    >
      <i class="bx bxs-chevron-left"></i>
    </button>

    <li class="items" *ngFor="let page of displayedPages">
      <button
        [class.active]="page === currentPage"
        (click)="goToPage(page)"
        class="btn"
      >
        {{ page + 1 }}
      </button>
    </li>

    <button
      (click)="goToNextPage()"
      [disabled]="currentPage === totalPages - 1"
      [ngClass]="{ wring: currentPage === totalPages - 1 }"
      class="btn right1"
    >
      <i class="bx bxs-chevron-right"></i>
    </button>

    <button
      (click)="goToLastPage()"
      [disabled]="currentPage === totalPages - 1"
      [ngClass]="{ wring: currentPage === totalPages - 1 }"
      class="btn right2"
    >
      <i class="bx bxs-chevrons-right"></i>
    </button>
  </ul>
</div>
