<div class="tour-container">
  <div class="why-choose">
    <h2>TẠI SAO CHỌN CÔNG TY CP VIETNAM TRAVEL GROUP</h2>
    <p>
      Vietnam Travel Group với thông điệp mang đam mê của chúng tôi gửi gắm đến
      bạn qua những chuyến đi và chất lượng luôn được đặt lên hàng đầu và mang
      đến cho du khách những sản phẩm hoàn hảo nhất
    </p>

    <div class="features">
      <div class="feature-box">
        <div class="icon"><img src="infoTour/giaTot.png" alt="" /></div>
        <div class="right">
          <h3>GIÁ TỐT - NHIỀU ƯU ĐÃI</h3>
          <div>Ưu đãi và quà tặng hấp dẫn khi mua tour online</div>
        </div>
      </div>
      <div class="feature-box">
        <div class="icon"><img src="infoTour/thanh_toan.png" alt="" /></div>
        <div class="right">
          <h3>THANH TOÁN AN TOÀN</h3>
          <p>Được bảo mật bởi tổ chức quốc tế</p>
        </div>
      </div>
      <div class="feature-box">
        <div class="icon"><img src="infoTour/tu_van.png" alt="" /></div>
        <div class="right">
          <h3>TƯ VẤN MIỄN PHÍ</h3>
          <p>Hỗ trợ tư vấn offline/online miễn phí</p>
        </div>
      </div>
      <div class="feature-box">
        <div class="icon"><img src="infoTour/thuong_hieu.png" alt="" /></div>
        <div class="right">
          <h3>THƯƠNG HIỆU UY TÍN</h3>
          <p>Thương hiệu lữ hành hàng đầu Việt Nam</p>
        </div>
      </div>
    </div>
  </div>

  <div class="tour-registration">
    <div class="container">
      <h2 class="title">
        Đăng Ký Tour Ngay
        <span class="cham-than">!</span>
      </h2>
      <form class="registration-form">
        <div class="form-group">
          <input type="email" placeholder="Địa chỉ email....." required />
        </div>
        <button type="submit" class="register-btn">ĐĂNG KÝ</button>
      </form>
    </div>
  </div>
</div>
