<div class="snap-container">
  <section class="page1"><app-slide></app-slide></section>
  <section class="page2"><app-page2></app-page2></section>
  <section class="page3"><app-page3-tour-new></app-page3-tour-new></section>
  <section class="page4"><app-page4-tour-new></app-page4-tour-new></section>
  <section class="page5"><app-page5-tour-new></app-page5-tour-new></section>
  <section class="page6"><app-page6-footer></app-page6-footer></section>
  <section class="page7"><app-footer></app-footer></section>
</div>
